$gap: 15px;
$cellSize: (500 - ($gap) * (4 - 1)) / 4;

.active-cell {
  width: $cellSize;
  height: $cellSize;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  z-index: 2;
  background: #eee4db;
  font-size: 40px;
  font-weight: bold;
  transform: translate(0px, 0px) scale(0);
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out, opacity 0.1s ease-in-out;
  color: #776e65;
  content-visibility: visible;
  contain: layout style paint;
  will-change: transform;

  &:not(.color-2, .color-4){
    color: #f8f5f0;
  }

  .cell-content {
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
  }

  &.merging {
    .cell-content {
      transform: rotateX(360deg) scale(0.3);
    }
  }

  &.hidden {
    opacity: 0;
    transform: translate(0px, 0px) scale(0);
  }
}

.color-4 {
  background-color: #ebdfc7;
}

.color-8 {
  background-color: #f2b179;
}

.color-16 {
  background-color: #f49462;
}

.color-32 {
  background-color: #f57b5e;
}

.color-64 {
  background-color: #f45c39;
}

.color-128 {
  background-color: #edce70;
}

.color-256 {
  background-color: #eecb60;
}

.color-512 {
  background-color: #ebc74f;
}

.color-1024 {
  background-color: #edc43e;
}

.color-2048 {
  background-color: #ecc02e;
}

