.active-cell {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  z-index: 2;
  background: #eee4db;
  font-size: 40px;
  font-weight: bold;
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
  transform: scale(0);
  color: #776e65;
  content-visibility: visible;

  &:not(.color-2, .color-4){
    color: #f8f5f0;
  }

  .cell-content {
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
  }

  &.merging {
    .cell-content {
      transform: rotateX(360deg) scale(0.3);
    }
  }
}

.color-4 {
  background: #ebdfc7;
}

.color-8 {
  background: #f2b179;
}

.color-16 {
  background: #f49462;
}

.color-32 {
  background: #f57b5e;
}

.color-64 {
  background: #f45c39;
}

.color-128 {
  background: #edce70;
}

.color-256 {
  background: #eecb60;
}

.color-512 {
  background: #ebc74f;
}

.color-1024 {
  background: #edc43e;
}

.color-2048 {
  background: #ecc02e;
}

