.grid-style {
  padding: 15px;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  display: grid;
  grid-auto-flow: column;
  column-gap: 15px;
  row-gap: 15px;
}

.grid-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-grid {
  @extend .grid-style;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  background: #bbada0;
}
